.MuiButton-root {
  text-transform: initial !important;
}

input.MuiInputBase-input, textarea.MuiInputBase-input {
  border: initial;
  background-color: initial;
  -webkit-box-shadow: initial;
  box-shadow: initial;
  -webkit-transition: initial;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  outline: 0;
  border-bottom: none;

  &:focus, &:disabled {
    border: initial;
    background-color: initial;
    -webkit-box-shadow: initial;
    box-shadow: initial;
    -webkit-transition: initial;
    transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    outline: 0;
    border-bottom: none;
  }
}

.MuiFilledInput-underline.Mui-disabled, .MuiInput-underline.Mui-disabled {
  &::before {
    border-bottom-style: solid !important;
  }
}

a.MuiButtonBase-root {
  &:hover, &:focus {
    color: inherit;
  }
}

.MuiAppBar-root {
  padding-right: 0px !important;
}

.MuiTab-wrapper {
  font-family: 'Integral CF Bold';
}
